html {
  scroll-behavior: smooth;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  text-align: center;
  position: fixed;
  /* bottom: 0; */
  color: red;
  width: 100%;
  padding: 20px;
  font-size: 30px;
}

.first-page-title{
  font-size: 70px;
}

.discover-more{
  width: 200px;
	height: 65px;
	margin: 30px auto 30px auto;
	display: block;
	background: black;
	/* padding: 90px 10px 10px 10px; */
	border: 15px #D5DEE8;
	color: white;
	font-size: 20px;
  border-radius: 12px;
}

.contact-button{
  width: 65px;
	height: 50px;
	/* margin: 30px auto 30px auto; */
	background: black;
	/* padding: 90px 10px 10px 10px; */
	border: 15px #D5DEE8;
	color: white;
	font-size: 15px;
  border-radius: 12px;
}

.p{
  text-align:center;
  font-size: 60px;
  margin-top: 60px;
}

.card--material{
  text-align: center;
  background: black;
  color: white;
  font-size: 90px;
  height: 100px;
}

.card--material-header{
  background: black;
  color: white;
}

.card--material__title{
  font-size: 50px;
}

.navbar {
  overflow: hidden;
  background-color: black;
  font-family: Arial;
  padding: 15px;
  float:center;
  margin: 0;

}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #969486;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.column {
  float: left;
  width: 30%;
  padding: 10px;
  height: 300px;
  position: relative;
  display: inline-block;
  text-align: center;

}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.roww{
  display: inline-block;
}

.designers-title{
  text-align:center;
}

.payment{
  margin: 0;
  font-size: 22px;
  text-align: center;
}

.unbold-title{
  font-size:20px;
  text-align: center;
  color: #F778A1;
}

.returns{
  text-align: center;
  font-size: 22px;
}

.payment-pictures{
  display: inline-block;
  margin: 0;
  text-align:center;

}
